.custom-shape-divider-top-1715091025 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1715091025 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 180px;
}

.custom-shape-divider-top-1715091025 .shape-fill {
    fill: #2A9D8F;
}