.custom-shape-divider-bottom-1715092679 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1715092679 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 125px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1715092679 .shape-fill {
    fill: #219EBC;
}